# Data Load into postgreSQL database

In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in meat consumption CSV file to be loaded to database
csv = "Resources/meat_consumption.csv"
meat = pd.read_csv(csv)
meat.head()

   Year  Beef_Veal  Lamb_Mutton  Pig  Chicken
0  1974         63           25   10       12
1  1975         67           22   10       13
2  1976         69           18   10       14
3  1977         67           18   11       15
4  1978         57           18   10       17

In [3]:
# connect to database
connection_string = "postgres:{PASSWORD}@localhost:5432/redmeat_db"
engine = create_engine(f'postgresql://{connection_string}')

In [4]:
# confirm tables
engine.table_names()

['combined_meat', 'beef_veal']

 # Load dataframes into database

In [5]:
# use pandas to load dataframes to database
meat.to_sql(name='meat', con=engine, if_exists='append', index=False)

In [6]:
# Check that dataframes have loaded successfully
pd.read_sql_query('select * from meat', con=engine).head()

   Year  Beef_Veal  Lamb_Mutton  Pig  Chicken
0  1974         63           25   10       12
1  1975         67           22   10       13
2  1976         69           18   10       14
3  1977         67           18   11       15
4  1978         57           18   10       17