# Extract Data

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file = "Summary of Australian statistics for meat.csv"

In [3]:
# Read our Data file with the pandas library
meat_stats_df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Display Dataframe
meat_stats_df.head(10)

,ï»¿Year,Cattle numbers a,Sheep numbers a,Unnamed: 3,Total red meat,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,Production,Exports,Domestic consumption,NaN,Beef and Veal,Lamb and mutton,Pig meat,Chicken Meat
1,NaN,million,million,NaN,kt (cw),kt (cw),kt (cw),NaN,kg (cw),kg (cw),kg (cw),kg (cw)
2,1974â75,32,152,NaN,"2,250",784,"1,370",NaN,63,25,10,12
3,1975â76,33,148,NaN,"2,602","1,066","1,379",NaN,67,22,10,13
4,1976â77,32,135,NaN,"2,722","1,254","1,375",NaN,69,18,10,14
5,1977â78,29,131,NaN,"2,897","1,378","1,362",NaN,67,18,11,15
6,1978â79,27,134,NaN,"2,708","1,446","1,249",NaN,57,18,10,17
7,1979â80,26,136,NaN,"2,330","1,113","1,241",NaN,50,20,15,19
8,1980â81,25,134,NaN,"2,278","1,049","1,267",NaN,49,20,16,18
9,1981â82,24,138,NaN,"2,315","1,001","1,273",NaN,49,19,15,17

# Transform Data

In [5]:
# filter dataframe to specific columns
meat_consumption = meat_stats_df[['ï»¿Year', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10','Unnamed: 11']].copy()
meat_consumption.head()

     ï»¿Year     Unnamed: 8       Unnamed: 9 Unnamed: 10   Unnamed: 11
0        NaN  Beef and Veal  Lamb and mutton    Pig meat  Chicken Meat
1        NaN        kg (cw)          kg (cw)     kg (cw)       kg (cw)
2  1974â75             63               25          10            12
3  1975â76             67               22          10            13
4  1976â77             69               18          10            14

In [6]:
# Rename the column headers
meat_consumption = meat_consumption.rename(columns={"ï»¿Year": "Year",
                                                          "Unnamed: 8": "Beef and Veal kg(cw)",
                                                          "Unnamed: 9": "Lamb and Mutton kg(cw)",
                                                          "Unnamed: 10":"Pig Meat kg(cw)",
                                                          "Unnamed: 11": "Chicken Meat kg(cw)"})
meat_consumption.head()

,Year,Beef and Veal kg(cw),Lamb and Mutton kg(cw),Pig Meat kg(cw),Chicken Meat kg(cw)
0,NaN,Beef and Veal,Lamb and mutton,Pig meat,Chicken Meat
1,NaN,kg (cw),kg (cw),kg (cw),kg (cw)
2,1974â75,63,25,10,12
3,1975â76,67,22,10,13
4,1976â77,69,18,10,14

In [7]:
# Remove the top 2 rows, that are now column headers
meat_consumption = meat_consumption.drop([0,1])
meat_consumption.head()

,Year,Beef and Veal kg(cw),Lamb and Mutton kg(cw),Pig Meat kg(cw),Chicken Meat kg(cw)
2,1974â75,63,25,10,12
3,1975â76,67,22,10,13
4,1976â77,69,18,10,14
5,1977â78,67,18,11,15
6,1978â79,57,18,10,17

In [9]:
# split year column data to keep the intial year
meat_consumption[['Year','End']] =meat_consumption.Year.str.split("â",expand=True) 
meat_consumption.head()

,Year,Beef and Veal kg(cw),Lamb and Mutton kg(cw),Pig Meat kg(cw),Chicken Meat kg(cw),End
2,1974,63,25,10,12,75
3,1975,67,22,10,13,76
4,1976,69,18,10,14,77
5,1977,67,18,11,15,78
6,1978,57,18,10,17,79

In [10]:
# filter dataframe to remove unneeded date references
meat_consumption = meat_consumption.drop(columns=['End'])

meat_consumption.head()

,Year,Beef and Veal kg(cw),Lamb and Mutton kg(cw),Pig Meat kg(cw),Chicken Meat kg(cw)
2,1974,63,25,10,12
3,1975,67,22,10,13
4,1976,69,18,10,14
5,1977,67,18,11,15
6,1978,57,18,10,17

In [11]:
meat_consumption.to_csv('meat_consumption.csv',index = False, header=True)